<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
    <% parsedData["products"].forEach(function(loopedProducts){ %>
        <li><%= loopedProducts["name"] %></li>
    <% }) %>

  </body>
</html>
